<div class="fields multi-text">
  <%= f.input :answer_type, as: :hidden %>
  <%= f.input :text_value, as: :string, label: 'Other (please specify)' %>
  <%= link_to_remove_fields "remove", f %>
</div>
