<tr>
  <td><%= link_to assessment.title, assessment %></td>
  <td><%= list_countries(assessment) %></td>
  <% if can?(:manage, Assessment) %>
    <td><%= assessment.published? ? 'Yes' : 'No' %></td>
  <% end %>
</tr>
