<% if @assessments.current_page > 1 %>
  <li class="previous ">
    <a href="#">&larr; Prev</a>
  </li>
<% end %>
<% if @assessments.current_page < @assessments.num_pages %>
  <li class="next">
    <a href="#">Next &rarr;</a>
  </li>
<% end %>
