<ul id="form-sidebar" class="unstyled">
  <li><a href="#title">Title</a></li>
  <li><a href="#geographical_coverage">Geographical coverage</a></li>
  <li><a href="#conceptual_framework">Conceptual framework, methodology and scope</a></li>
  <li><a href="#ecosystem_services">Ecosystem services/functions assessed</a></li>
  <li><a href="#timing">Timing of the assessment</a></li>
  <li><a href="#outputs">Assessment outputs</a></li>
  <li><a href="#tools_and_processes">Tools and processes</a></li>
  <li><a href="#data">Data</a></li>
  <li><a href="#policy_impact">Policy Impact</a></li>
  <li><a href="#capacity_building">Capacity-building</a></li>
  <li><a href="#knowledge_generation">Knowledge generation</a></li>
  <li><a href="#additional_information">Additional information</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#note">Note</a></li>
  <% if current_user.admin? %>
    <li><a href="#administration">Administration</a></li>
  <% end %>
</ul>