<form class="form-selection" action="#">
  <fieldset>
    <ul class="list">
      <li class="active">
        <div class="holder">
          <div class="frame"><a id="sidelink_title" href="#title">Title <span class='required'>required</span></a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_geographical_coverage" href="#geographical_coverage">Geographical coverage</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_conceptual_framework" href="#conceptual_framework">Conceptual framework, methodology and scope</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_timing" href="#timing">Timing of the assessment</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_outputs" href="#outputs">Assessment outputs</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_tools_and_processes" href="#tools_and_processes">Tools and processes</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_data" href="#data">Data</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_policy_impact" href="#policy_impact">Policy impact</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_capacity_building" href="#capacity_building">Capacity building</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_knowledge_generation" href="#knowledge_generation">Knowledge generation</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_additional_information" href="#additional_information">Additional information</a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_contacts" href="#contacts">Contacts (admin only) <span class='required'>required</span></a></div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="frame"><a id="sidelink_note" href="#note">Note (admin only)</a></div>
        </div>
      </li>
    </ul>
    <div class="row">
      <div class="container">
        <input id="shadow-published-box" type="checkbox" />
        <label for="shadow-published-box">Published</label>
      </div>
      <div class="buttons">
        <a id='side-save' href="#">SAVE</a>
        <%= link_to 'CANCEL', @assessment %>
      </div>
    </div>
  </fieldset>
</form>
