<ul id="form-sidebar" class="unstyled">
  <li><a id="sidelink_title" href="#title">Title</a></li>
  <li><a id="sidelink_geographical_coverage" href="#geographical_coverage">Geographical coverage</a></li>
  <li><a id="sidelink_conceptual_framework" href="#conceptual_framework">Conceptual framework, methodology and scope</a></li>
  <li><a id="sidelink_ecosystem_services" href="#ecosystem_services">Ecosystem services/functions assessed</a></li>
  <li><a id="sidelink_timing" href="#timing">Timing of the assessment</a></li>
  <li><a id="sidelink_outputs" href="#outputs">Assessment outputs</a></li>
  <li><a id="sidelink_tools_and_processes" href="#tools_and_processes">Tools and processes</a></li>
  <li><a id="sidelink_data" href="#data">Data</a></li>
  <li><a id="sidelink_policy_impact" href="#policy_impact">Policy Impact</a></li>
  <li><a id="sidelink_capacity_building" href="#capacity_building">Capacity-building</a></li>
  <li><a id="sidelink_knowledge_generation" href="#knowledge_generation">Knowledge generation</a></li>
  <li><a id="sidelink_additional_information" href="#additional_information">Additional information</a></li>
  <li><a id="sidelink_contacts" href="#contacts">Contacts</a></li>
  <li><a id="sidelink_note" href="#note">Note</a></li>
  <li><a id="sidelink_save_assessment" href="#save_assessment">Save assessment</a></li>
</ul>
