<div class="row">
  <div class="span8">
    <h1>Catalogue of Assessments</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim quam eu lectus consequat dapibus. Nulla eget consequat mauris. Donec eu turpis elit, quis elementum urna. Donec vestibulum congue porta. Morbi tempus, nisl ac rutrum tristique, nibh magna adipiscing nulla, vel commodo dui metus non eros.</p>
  </div>
  <div class="span4">
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span3"><input type="text" class="search-query full-width"></div>
      <div class="span1"><button type="submit" class="btn full-width">Search</button></div>
    </div>
    <div class="row" style="padding-bottom:10px">
      <div class="span3">
        <label class="checkbox">
          <input type="checkbox" id="optionsCheckbox" value="option1">
          Search in attachments
        </label>
      </div>
    </div>

    <form class="well">
      <fieldset>
        <legend>Advanced search</legend>
        <div class="control-group">
          <label class="control-label" for="geo_scale">Geographical scale of the assessment</label>
          <div class="controls">
            <%= select('assessment', 'geo_scale', ['Global', 'Regional', 'Sub-regional', 'National', 'Sub-national', 'Set of sites', 'Single site'], {include_blank: true}, {class: 'full-width'}) %>
          </div>
        </div>
      </fieldset>
    </form>

    <a href="#" class="btn">Print search</a>
    <a href="#" class="btn">Download excel</a>
  </div>
  <div class="span8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Countries</th>
        </tr>
      </thead>
      <tbody>
    <% @assessments.each do |assessment| %>
        <tr>
          <td><%= link_to assessment.title, assessment %></td>
          <td><%= list_countries(assessment) %></td>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
