<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Welcome to the IPBES Catalogue of Assessments, <%= @user.email %></p>
    <p>
      You have now been approved access to the IPBES Catalogue of Assessments.<br />
      To login to the site, just follow this link: <%= @url %>.<br />
      Thanks for joining!
    </p>
  </body>
</html>
