<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the IPBES Catalogue of Assessments, <%= @user.email %></h1>

    <p>You have now been approved access to the IPBES Catalogue of Assessments.</p>
    <p>To login to the site, just follow this link: <%= @url %>.</p>
    <p>Thanks for joining!</p>
  </body>
</html>
