<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the IPBES Catalogue of Assessments, <%= @user.email %></h1>
    <p>
      You have successfully signed up to the IPBES Catalogue of Assessments.
    </p>
    <p>
      Your account has not been approved by an administrator yet. We will inform you by email when this happens. Please note that an administrators are based in the UK (GMT+1) and in Kenya (GMT+3) so there may  be a delay in activating your account.
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>
