<div class="page-header">
  <h1>About the Catalogue</h1>
</div>

<p>Development of a "Catalogue of Assessments on Biodiversity and Ecosystem Services" was called for by the meeting which established the <%= link_to "Intergovernmental science-policy Platform on Biodiversity and Ecosystem Services", "http://www.ipbes.net/" %> (IPBES). The primary intention was to learn lessons from existing and ongoing assessment processes so as to inform the future development of IPBES, and a critical review of assessments to be delivered to the first IPBES Plenary will draw heavily on the catalogue.</p>
<br />
<p>In developing the "Catalogue of Assessments on Biodiversity and Ecosystem Services", the Interim Secretariat decided to develop and implement an online catalogue which would be developed and maintained with the direct involvement of assessment practitioners, and which would be widely accessible. In addition to providing information on the assessments and lessons learnt, the intention is that this online catalogue will also provide direct access to assessment reports, guidelines, and so on as a resource for practitioners, and in this regard the catalogue is being developed with the close involvement of the <%= link_to "Sub-Global Assessment Network", "http://www.ecosystemassessments.net/" %>.</p>
<br />
<p>More details about IPBES, IPBES meetings, and the intersessional processes between meetings can be found <%= link_to "here", "http://www.ipbes.net/" %>, with information on the current intersessional process here.</p>

<div class="page-header">
  <h1>Editing / Adding Assessments</h1>
</div>

<p>Those using the "Catalogue of Assessments on Biodiversity and Ecosystem Services" are invited both to contribute information on the assessments with which they are involved, and to provide feedback on the form and function of the "Catalogue of Assessments on Biodiversity and Ecosystem Services", and on any ways in which it could be improved to better serve their needs.</p>
<br />
<p>To add new relevant assessments or edit existing assessments, please first create an account by clicking on the 'Login to add/edit data' icon at the top of the page. Once your account has been approved by the administrator (within 24 hours) you will be able to edit an assessment by clicking an assessment title (listed alphabetically in a table on the Home page) followed by the 'Edit' button. To add a new assessment profile click on your name at the top right of the page and 'New Assessment' from the menu.</p>
<br />
<p>For any technical assistance while using the catalogue please send an email to <%= mail_to "assessment@unep-wcmc.org" %>.</p>
