@import "bootstrap-generators";
@import "select2";
@import "leaflet";

.left {
  float: left;
}

.right {
  float: right;
}

.full-width {
  width: 100%;
}

section {
  padding-top: 50px;
}

div.select2-container {
  margin: 0 0 9px;
}

#form-sidebar {
  li {
    border-bottom: 1px solid $grayLighter;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .completed:before {
    content: image-url('green_light.png');
    padding-right: 10px;
  }
  
  .not_completed:before {
    content: image-url('red_light.png');
    padding-right: 10px;
  }
}

footer ul li {
  display: inline;
}

table {
  .row {
    text-align: center;
  }

  .loading-text:before {
    content: image-url('ajax-loader.gif');
    padding-right: 10px;
  }
}

#map {
  border: 1px solid #CCC;
  height: 300px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  border-bottom: 1px solid #DDD;
  border-radius: 5px;
  overflow:hidden;
}
