@import "bootstrap-generators";
@import "select2";
@import "leaflet";

.left {
  float: left;
}

.right {
  float: right;
}

.full-width {
  width: 100%;
}

section {
  padding-top: 50px;
}

div.select2-container {
  margin: 0 0 9px;
}

#form-sidebar {
  li {
    border-bottom: 1px solid $grayLighter;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .completed:before {
    content: image-url('green_light.png');
    padding-right: 10px;
  }
  
  .not_completed:before {
    content: image-url('red_light.png');
    padding-right: 10px;
  }
}

footer ul li {
  display: inline;
}

table {
  .row {
    text-align: center;
  }

  .loading-text:before {
    content: image-url('ajax-loader.gif');
    padding-right: 10px;
  }
}

#map {
  border: 1px solid #CCC;
  height: 300px;
  border: 1px solid #CCC;
  border-bottom: 1px solid #DDD;
  overflow: hidden;
  width: 100%;
}
#country-hover {
  left: -1000px;
  position:absolute;
  background-color: #F3F3F3;
  border: 1px solid #84B0D4;
  border-radius: 3px;
  padding: 2px 5px;
}
#selected-country-strip {
  background-color: #2A2A2A;
  color: #EEE;
  display:none;
  padding: 5px 10px;
  border: 1px solid #CCC;
  border-top: 0px;

  a {
    float: right;
    color: #CCC;
  }
}

.action_buttons {
  padding-bottom: 20px;
}

#last-editor {
  float:right;
  clear:both;
  margin-top: 5px;
}

#clear_search {
  float: right;
}
