@import "mixins";
@import "bootstrap-variables";
@import "tables";

html, body {
  font-size: 12px;
}

#header, .map-holder, #sidebar, #footer, .buttons {
  display: none;
}

table td {
  background: #fff;
}
